= render 'admin/admin_menu'
.span9
  %h2 HCS vLab Collection management
  = render 'display_collections_table'
  = render 'paginate_compact'
= render 'shared/modal_waiting_panel'
= render 'collections/force_reload_on_back_pressed'
