%content
  %h1= @collection.name

  - unless params[:state].nil?
    = link_to "Back to Licence Agreements", "/account/licence_agreements", :class => "btn"

.document
  %h3
    %span Collection Details
  %dl.dl-horizontal.dl-invert
    - collection_show_fields(@collection).each do |field|
      %dt
        = field.first[0] + ":"
      %dd
        = field.first[1]
  - if can? :web_add_item, @collection
    %br
    = link_to "Add New Item", web_add_item_path, :id => 'add_new_item', :class => "btn"
