%content
  %h1= @collection.flat_short_name

  - unless params[:state].nil?
    = link_to "Back to Licence Agreements", "/account/licence_agreements", :class => "btn"

.document
  %h3
    %span Collection Details
  %dl.dl-horizontal.dl-invert
    - collection_show_fields(@collection.id).each do |field|
      %dt
        = field.first[0] + ":"
      %dd
        - if field.first[0] == "RDF Type"
          = File.basename(field.first[1])
        - else
          = field.first[1]