%h2 Create Collection
= form_tag({controller: 'collections', action: 'web_create_collection'}, method: 'post', :id => 'create_collection_form') do
  = label_tag :collection_name, 'Collection Name:'
  = text_field_tag :collection_name, @collection_name, required: true
  = label_tag :collection_title, 'Collection Title:'
  = text_field_tag :collection_title, @collection_title, required: true
  = label_tag :collection_owner, 'Collection Owner:'
  = text_field_tag :collection_owner, @collection_owner, required: true
  = label_tag :collection_abstract, 'Collection Abstract:'
  = text_area_tag :collection_abstract, @collection_abstract, required: true
  = label_tag :approval_required, 'Privacy: (Approval required for collection access)'
  = hidden_field_tag :approval_required, 'public'
  = check_box_tag :approval_required, 'private', @approval_required == 'private'
  = label_tag :licence_id, 'Licence'
  = select_tag :licence_id, options_for_select(@licences.map {|l| [l.name, l.id]}), include_blank: true
  = render 'display_additional_metadata'

  .form-actions
    = submit_tag 'Create', :class => "btn btn-primary"
    = link_to 'Cancel', collections_path, :class => "btn"

= render 'shared/nectar_attribution'