%h2= "Add Document to '#{params[:itemId]}'"
= form_tag({controller: 'collections', action: 'web_add_document'}, multipart: true, method: 'post', :id => 'add_document_form') do
  = label_tag :document_file, 'Please select a file:'
  = file_field_tag :document_file, required: true
  %br
  %br
  %h2 Document Metadata
  = label_tag :language, 'Language:'
  = select_tag :language, options_for_select(@languages, @language), id: 'language_select', required: true
  %br
  %br
  = render 'display_additional_metadata'

  .form-actions
    = submit_tag 'Create', :class => "btn btn-primary"
    = link_to 'Cancel', catalog_path(collection: params[:collection], itemId: params[:itemId]), :class => "btn"

= render 'shared/nectar_attribution'

:javascript
  $("#language_select").select2({
    width: 'resolve',
    minimumInputLength: 2
  })