#content
  = # render :partial => 'sort_and_per_page'

  - done_some = false
  %table.table.table-condensed#collections
    %thead
      %tr
        %th.title Collection or Collection List
        %th.collection Collections
        %th.owner Owner
        %th.state State
        %th.actions Actions
    %tbody
      - current_user.get_all_licence_info(true).each_with_index do |k, index|
        - done_some = true
        %tr.documentHeadersdf.clearfixsdf
          %td.title
            - if k[:type] == :collection
              -#%a{:href => "/collections/#{k[:item].id}?state=#{k[:state_label]}"}= k[:item].name
              = link_to k[:item].name, collection_path(k[:item].name, :state=>k[:state_label])
            - else
              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#collection_list#{index}", :role => "button"}=k[:item].name
              .modal.hide.fade.in{:id => "collection_list#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel= k[:item].name
                #collection_list_detail_dialog.modal-body{:title => "Collection details"}
                  #collection_list_detail_content{:readonly => "true"}
                    %table
                      - k[:item].collections.each do |aCollection|
                        %tr
                          %td
                            -#%a{:href => "/collections/#{aCollection.id}?state=#{k[:state_label]}"}= aCollection.name
                            = link_to aCollection.name, collection_path(aCollection.name, :state=>k[:state_label])

                .modal-footer
                  %a.btn.pull-right{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close

          %td.collection
            =k[:type] == :collection ? "1" : k[:item].collections.size
          %td.owner
            =k[:item].owner.email
          %td.state
            =k[:state_label]
          %td.actions
            - k[:actions].each do |action|
              - if action == :viewForAcceptance
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_preview#{index}", :role => "button"} Preview & Accept Licence Terms
                .modal.hide.fade.in{:id => "licence_preview#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#myModalLabel= "Licence terms for #{k[:item].name}"
                  .modal-body{:title => "Licence Terms"}
                    %h4#myModalLabel= k[:item].licence.name
                    %p#licence_preview{:readonly => "true"}
                    = k[:item].licence.flat_text.html_safe
                  .modal-footer
                    %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
                    %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal", onClick: "accept_licence_terms('#{k[:type]}', '#{k[:item].id}');"} Accept
              - if action == :view
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_review#{index}", :role => "button"} Review Licence Terms
                .modal.hide.fade.in{:id => "licence_review#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#myModalLabel= "Licence terms for #{k[:item].name}"
                  .modal-body{:title => "Licence Terms"}
                    %h4#myModalLabel= k[:item].licence.name
                    %p#licence_review{:readonly => "true"}
                    = k[:item].licence.text.html_safe
                  .modal-footer
                    %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
              - if action == :viewForRequest
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#request_access_modal#{index}", :role => "button"} Request Access
                .modal.hide.fade.in{:id => "request_access_modal#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#myModalLabel= "Request licence for #{k[:item].name}"
                  .modal-body{:title => "Request message"}
                    %p#request_access{:readonly => "true"}= "Are you sure you want to request access to #{k[:item].name}?"
                  .modal-footer
                    %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
                    %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal", :id => "request_access#{index}", onClick: "request_access_to('#{k[:type]}', '#{k[:item].id}');"} Request Access
              - if action == :cancel
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#request_cancel_modal#{index}", :role => "button"} Cancel Request
                .modal.hide.fade.in{:id => "request_cancel_modal#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#myModalLabel= "Cancel access request to #{k[:item].name}"
                  .modal-body{:title => "Cancel Request"}
                    %p#request_cancel{:readonly => "true"}
                    = "Are you sure you want to cancel your request for access to #{k[:item].name}?"
                  .modal-footer
                    %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
                    - unless k[:request].nil?
                      %a= link_to "Cancel Request", cancel_request_path(k[:request]), { :method => :delete, :class => "btn btn-primary", :id => "request_cancel#{index}"}
  - unless done_some
    There are no licensed collections or collection lists visible in the system


= form_tag({:controller => "users", :action => "accept_licence_terms"}, :id => "accept_licence_terms_form", :onSubmit => "showProgressAnimation();") do
  = hidden_field_tag :type, nil,  {id: "type_for_accept_licence_terms"}
  = hidden_field_tag :coll_id, nil, {id: "coll_id_for_accept_licence_terms"}

= form_tag({:controller => "users", :action => "send_licence_request"}, :id => "send_licence_request_form", :onSubmit => "showProgressAnimation();") do
  = hidden_field_tag :type, nil,  {id: "type_for_send_licence_request"}
  = hidden_field_tag :coll_id, nil, {id: "coll_id_for_send_licence_request"}


:javascript

  function accept_licence_terms(coll_type, collection_id) {
    $("#type_for_accept_licence_terms").val(coll_type);
    $("#coll_id_for_accept_licence_terms").val(collection_id);
    $("#accept_licence_terms_form").submit();
  };

  function request_access_to(coll_type, collection_id) {
    $("#type_for_send_licence_request").val(coll_type);
    $("#coll_id_for_send_licence_request").val(collection_id);
    $("#send_licence_request_form").submit();
  };

  function cancel_request_to(type, collection_id) {
  };

