.form-card
  = render 'shared/login_tabs'
  .content.aaf-signup
    .info.alert-help
      = link_to "Sign up via AAF →", aaf_new_user_session_path, :class => "btn btn-lg aaf"
      %p You can either use your research institution login via AAF or you can sign up for an account.
  .content.signup
    %h3{style:'padding: 0 20px;'} User Sign Up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = render :partial => 'personal_details', :locals  => {:f => f}
      = render :partial => 'account_details', :locals  => {:f => f}
      .tou
        = render :partial => 'licence_details', :locals => {:f => f}
      .form-actions
        = f.submit "Submit Request", :class => "btn btn-primary", :id => "submit-button"
        = link_to 'Cancel', root_path, :class => "btn"

= render 'shared/nectar_attribution'
