%table#access_requests.table.table-condensed
  %tr
    %th First name
    %th Last name
    %th Email
    %th Collection/Collection List
    %th Actions
  - @requests.each_with_index do |request, index|
    - @user = User.find(request.user)
    %tr{:class => cycle('field_bg', 'field_nobg')}
      %td= @user.first_name
      %td= @user.last_name
      %td= @user.email
      - if request.request.is_a? CollectionList
        %td.name
          %a.btn.btn-mini{"data-toggle" => "modal", :href => "#collection#{index}", :role => "button"}=request.request.name
          .modal.hide.fade.in{:id => "collection#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel= request.request.name
            #collection_list_detail_dialog.modal-body{:title => "Licence Terms"}
              #collection_list_detail_content{:readonly => "true"}
                %table
                  - request.request.collections.each do |aCollection|
                    %tr
                      %td
                        =aCollection.name
            .modal-footer
              %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
      - else
        %td= link_to request.request.name, collection_path(request.request.name)
      %td
        = link_to "Approve", approve_request_user_licence_request_path(request), :method => :put, :id => "approve_#{request.id}", :class => "btn btn-primary btn-mini"

        %a.btn.btn-danger.btn-mini{"data-toggle" => "modal", :href => "#reject_request_modal#{index}", :role => "button"} Reject
        .modal.hide.fade.in{:id => "reject_request_modal#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h3#myModalLabel= "Reject access request"
          .modal-body{:title => "Reject Request"}
            %p#reject_request{:readonly => "true"}
            = form_tag reject_request_user_licence_request_path(request), {:method => :put, :id => "reject_form_#{request.id}"} do
              = label_tag("reason", "Please enter a reason for rejecting the access request. An email will be sent to #{request.user_email} notifying them that their request has been rejected, along with the reason for rejection.")
              = text_field_tag "reason", nil
              = submit_tag "Reject", :hidden => "true"
          .modal-footer
            %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
            %a.btn.btn-primary{:onclick => "$('#reject_form_#{request.id}').submit()", :id => "reject_request#{index}"} Reject
- if @requests.empty?
  %p No requests to display
