= render 'display_collection_lists'
.span9
  - if @currentCollectionList.nil?
    %div
      Collection List not found
  -else
    %table
      %tr
        %td
          %b
            Name:
        %td
          = @currentCollectionList.name
      %tr
        %td
          %b
            Owner:
        %td
          = @currentCollectionList.owner.email
    %br
    %h3
      Collections assigned to this Collection List
    %table.table.table-striped
      %tr
        %td
          URI
        %td
          Short Name
      -@currentCollectionList.collections.each do |aCollection|
        %tr
          %td
            = aCollection.uri
          %td
            = aCollection.name
= render 'shared/nectar_attribution'
= render 'shared/modal_waiting_panel'
