%p Hello #{@user.first_name} #{@user.last_name},
%p You made a request for access to the HCSVLAB system. Your request has been approved. Please visit #{root_url} to log in using your AAF (Australian Access Federation) credentials.
%p If for some reason AAF does not work, you can login to your HCSVLAB user account using your email address and the following temporary password:
%br
%p #{@password}
%br
%p Please visit the following page to change the password for your HCSVLAB user account (Note: this does not modify your AAF password): #{account_edit_password_url}