= "There are #{@triplestore_metrics[:triples]} triples in the triplestore."
%br
= "There are #{@triplestore_metrics[:annotations]} annotations in the triplestore."
%br
= "There are #{@triplestore_metrics[:annotation_collections]} annotation collections in the triplestore."
%br