= render 'admin/admin_menu'
.span9
  %h2 Metrics
  = render 'admin/metrics_table'
  = link_to 'Download as CSV', download_metrics_admin_index_path, :class => 'btn'
  %br
  %br
  = render 'users/user_metrics'
= render 'shared/modal_waiting_panel'
= render 'shared/nectar_attribution'
= render 'shared/profiler'