= render 'admin/admin_menu'
.span9
  %h2
    Edit role of #{@user.email}

  = simple_form_for(@user, :url => update_role_user_path(@user)) do |f|
    = render "shared/error_messages", :target => @user
    = f.input :role_id, :collection => @roles
    .form-actions
      = link_to 'Back', @user, :class => "btn"
      = f.submit "Save", :class => "btn btn-primary pull-right"
= render 'shared/nectar_attribution'
