- title 'User Details'
.well
  - if @user.pending_approval?
    .user_details_menu
      - if can?(:approve, @user) then
        = link_to "Approve", edit_approval_user_path(@user), :method => :get, :class => "btn"
        &nbsp;
      - if can?(:reject, @user) then
        = link_to "Reject", reject_user_path(@user), :method => :put, :class => "btn"
        &nbsp;
        = link_to "Reject as Spam", reject_as_spam_user_path(@user), :method => :put, :class => "btn"
        &nbsp;
      = link_to 'Back', access_requests_users_path, :class => "btn"

  - if @user.approved?
    .user_details_menu
      - if can?(:update_role, User)
        = link_to 'Edit role', edit_role_user_path(@user), :class => "btn"
        &nbsp;
      - if can?(:deactivate, User)
        - if @user == current_user
          = link_to "Deactivate", deactivate_user_path(@user), :confirm => "This is the user you are currently logged is as. Are you sure you want to deactivate it?" , :method => :put, :class => "btn"
          &nbsp;
        - else
          = link_to "Deactivate", deactivate_user_path(@user), :method => :put, :class => "btn"
          &nbsp;
      = link_to 'Back', users_path, :class => "btn"

  - if @user.deactivated?
    .user_details_menu
      - if can?(:update_role, User)
        = link_to 'Edit role', edit_role_user_path(@user), :class => "btn"
        &nbsp;
      - if can?(:activate, User)
        = link_to "Activate", activate_user_path(@user), :method => :put, :class => "btn"
        &nbsp;
      = link_to 'Back', users_path, :class => "btn"

%table#userdetails.table.table-striped
  %tr
    %td Email
    %td= render_field "", @user.email
  %tr
    %td First Name
    %td= render_field "", @user.first_name
  %tr
    %td Last Name
    %td= render_field "", @user.last_name
  - if !@user.pending_approval?
    %tr
      = render_field_with_block "Last Logged In" do
        - if @user.last_sign_in_at.nil?
          %td Never logged in
        - else
          %td= @user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
  %tr
    %td Role
    %td= render_field "", (@user.role ? @user.role.name : "")
  %tr
    %td Status
    %td
      = render_field_with_block "" do
        - if @user.status == 'A'
          Active
        - elsif @user.status == 'D'
          Deactivated
        - elsif @user.status == 'U'
          Pending Approval
        - elsif @user.status == 'R'
          Rejected
          </table>
