-if !@document_list.nil?
  #content
    .well.clearfix
      .css-dropdown.pull-left
        %a.btn{:'data-toggle'=>"dropdown", :href=>"#"}
          Item List Actions
          %span.caret
        %ul.dropdown-menu
          - if (@item_list.user_id == current_user.id)
            %li
              = link_to("Clear", {:controller => "item_lists", :action => "clear"}, :method => 'POST', :id => params[:id].to_i)
          %li
            = link_to("Use in Galaxy", "#", :onclick => 'jQuery("#galaxy_list").submit()')
          %li
            %a{"data-toggle" => "modal", :href => "#get_r_script", :role => "button"} Use in Emu/R
            =# link_to("Concordance search", {:controller => "item_lists", :action => "concordance"}, :method => 'GET', :id => params[:id].to_i)
          %li
            = link_to("Download as ZIP", {:controller => "item_lists", :action => "show", :format=>"zip"}, :method => 'GET', :id => params[:id].to_i, :onclick => 'showProgressAnimation(); self.setInterval("checkCompleteCookie();", 4000);')
          - if (@item_list.user_id == current_user.id)
            %li
              - if (@item_list.shared?)
                = link_to("Stop Sharing", {:controller => "item_lists", :action => "unshare"}, :method => 'POST', :id => params[:id].to_i)
              -else
                = link_to("Share", {:controller => "item_lists", :action => "share"}, :method => 'POST', :id => params[:id].to_i)
      - if (@document_list.empty?)
      - else
        = render 'catalog/paginate_compact'
        = render 'catalog/per_page_widget'
    - if (@document_list.empty?)
      .info
        Item List is
        %strong empty
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
    - else
      = render 'galaxy_link', :title => "Use Item List in Galaxy "
      - if (!@message.nil?)
        %span{class:"alert alert-info", :style=>"display:block; text-align:center"}
          =@message
          ="This is because you do not have access to the applicable Collections. "
          = "To gain access to more Collections, visit the "
          = link_to "Licence Agreements", account_licence_agreements_path
          = " page."
      = render_document_index nil, {}, {:showCheckbox => false, :itemViewList => params[:id]}
      = render 'results_pagination'
  .modal.hide.fade.in{:id => "get_r_script","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel= "Use " + @item_list.name + " in Emu/R"
    #r_script_dialog.modal-body
      %p
        Copy the following code into your R environment and download the API token file.
        Make sure you have the required R packages installed prior to execution.
      %hr
      %p
        Save the following file to your home directory
      = "Linux or Unix: /home/<user>"
      %br
      = "Mac: /Users/<user>"
      %br
      = "Windows: C:\\Users\\<user>"
      %br
      %br
      = link_to "Download API key config file", account_api_key_path
      %hr
      %pre
        = preserve do
          .r_script_content{:readonly => "true"}= @item_list.getRScript(root_url)
    .modal-footer
      %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close

:javascript

  function checkCompleteCookie() {
    if ($.cookie("download_finished") ) {
      $.removeCookie("download_finished");
      location.reload();
    }
  }
