-if !@response.nil?
  #content
    .well.clearfix
      .css-dropdown.pull-left
        %a.btn{:'data-toggle'=>"dropdown", :href=>"#"}
          Item List Actions
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to("Clear Item List", {:controller => "item_lists", :action => "clear"}, :method => 'POST', :id => params[:id].to_i)
            = link_to("Use Item List in Galaxy", "#", :onclick => 'jQuery("#galaxy_list").submit()')
            %a{"data-toggle" => "modal", :href => "#get_r_script", :role => "button"} Use Item List in Emu/R
            =# link_to("Concordance search", {:controller => "item_lists", :action => "concordance"}, :method => 'GET', :id => params[:id].to_i)
      - if (@document_list.empty?)
      - else
        = render 'catalog/paginate_compact'
        = render 'catalog/per_page_widget'
    - if (@document_list.empty?)
      .alert.alert-info Item List is empty
    - else
      = render 'galaxy_link', :title => "Use Item List in Galaxy "
      = render_document_index nil, {}, {:showCheckbox => false, :itemViewList => params[:id]}
      = render 'results_pagination'
  .modal.hide.fade.in{:id => "get_r_script","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel= "Use " + @item_list.name + " in Emu/R"
    #r_script_dialog.modal-body
      %p
        Copy the following code into your R environment and download the API token file.
        Make sure you have all the required R packages installed prior to execution.
      %hr
      %p
        Save the following file to your home directory
      = "Linux or Unix: /home/<user>"
      %br
      = "Mac: /Users/<user>"
      %br
      = "Windows: C:\\Users\\<user>"
      %br
      %br
      = link_to "Download API key config file", download_config_file_item_list_path()
      %hr
      %pre
        = preserve do
          .r_script_content{:readonly => "true"}= @item_list.getRScript(root_url)
    .modal-footer
      %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
