-if !@document_list.nil?
  #content
    .well.clearfix
      .css-dropdown.pull-left
        %a.btn{:'data-toggle'=>"dropdown", :href=>"#"}
          Item List Actions
          %span.caret
        %ul.dropdown-menu
          - if (@item_list.user_id == current_user.id)
            %li
              %a{"data-toggle" => "modal", :href => "#rename_item_list", :role => "button"} Rename
            %li
              = link_to("Clear", {:controller => "item_lists", :action => "clear"}, :method => 'POST', :id => params[:id].to_i)
          %li
            = link_to("Use in Galaxy", "#", :onclick => 'jQuery("#galaxy_list").submit()')
          %li
            %a{"data-toggle" => "modal", :href => "#get_r_script", :role => "button"} Use in Emu/R
            =# link_to("Concordance search", {:controller => "item_lists", :action => "concordance"}, :method => 'GET', :id => params[:id].to_i)
          %li
            %a{"data-toggle" => "modal", :href => "#download_item_list", :role => "button"} Download as ZIP
            -#{:controller => "item_lists", :action => "show", :format=>"zip"}, :method => 'GET', :id => params[:id].to_i,
            -#=#:onclick => 'showProgressAnimation(); self.setInterval("checkCompleteCookie();", 4000);')
          %li
            = link_to("Download using Aspera", '#', :onclick => "performAsperaDownloadTransferForItemList(#{params[:id]});")
          - if @item_list.user_id == current_user.id
            %li
              - if @item_list.shared?
                = link_to("Stop Sharing", {:controller => "item_lists", :action => "unshare"}, :method => 'POST', :id => params[:id].to_i)
              -else
                = link_to("Share", {:controller => "item_lists", :action => "share"}, :method => 'POST', :id => params[:id].to_i)
      - unless @document_list.empty?
        = render 'catalog/paginate_compact'
        = render 'catalog/per_page_widget'
    - if @document_list.empty?
      .info
        Item List is
        %strong empty
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
    - else
      = render 'galaxy_link', :title => "Use Item List in Galaxy "
      - unless @message.nil?
        %span{class:"info alert-info", :style=>"display:block; text-align:center"}
          =@message
          ="This is because you do not have access to the following collections: #{@missing_collections}."
          = "To gain access to more Collections, visit the "
          = link_to "Licence Agreements", account_licence_agreements_path
          = " page."
      = render_document_index nil, {}, {:showCheckbox => false, :itemViewList => params[:id]}
      = render 'results_pagination'
  .modal.hide.fade.in{:id => "get_r_script","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel= "Use " + @item_list.name + " in Emu/R"
    #r_script_dialog.modal-body
      %p
        Copy the following code into your R environment and download the API token file.
        Make sure you have the required R packages installed prior to execution.
      %hr
      %p
        Save the following file to your home directory
      = "Linux or Unix: /home/<user>"
      %br
      = "Mac: /Users/<user>"
      %br
      = "Windows: C:\\Users\\<user>"
      %br
      %br
      = link_to "Download API key config file", account_api_key_path
      %hr
      %pre
        = preserve do
          .r_script_content{:readonly => "true"}= @item_list.getRScript(root_url)
    .modal-footer
      %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close

  .modal.hide.fade.in{:id => "rename_item_list", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel= "Rename Item List"
    = form_for @item_list, :url => url_for(:controller => "item_lists", :action => "update") do |f|
      #rename_item_list_dialog.modal-body
        %p
          = f.label :name
          = f.text_field :name
      .modal-footer
        %a.btn.btn-primary.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
        = f.submit "Rename Item List", class: "btn btn-primary"

  .modal.hide.fade.in{:id => "download_item_list", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel= "Download Options for Item List: #{@item_list.name}"
    = render 'download_all_documents'
    = render 'download_selected_document_types'
    = render 'download_matching_documents'


:javascript

  function checkCompleteCookie() {
    if ($.cookie("download_finished") ) {
      $.removeCookie("download_finished");
      location.reload();
    }
  }
