%div
  = form_tag({:action => 'concordance_search', :id => params[:id]}, :onSubmit => "showProgressAnimation();") do
    = field_set_tag do
      = hidden_field_tag :itemListId, :value => params[:id]
      %div{:style=>'display:inline-block'}
        =# label_tag 'Search type'
        =# select_tag :search_type, :options => ["simple", "concordance"]
        =# select(:search_type, :aa, {"simple"=>"simple", "concordance"=>"concordance"})
      %div{:style=>'display:inline-block'}
        = label_tag 'Concordance search term'
        = search_field_tag :search_for, value = params[:search_for]
      %div{:style=>'display:inline-block'}
        = submit_tag 'search'
= render "shared/modal_waiting_panel"
