%div
  = form_tag({:action => 'concordance_search', :id => params[:id]}, :onSubmit => "showProgressAnimation();") do
    = field_set_tag do
      = hidden_field_tag :itemListId, :value => params[:id]
      %div{:style=>'display:none'}
        =# label_tag 'Search type'
        =# select_tag :search_type, :options => ["simple", "concordance"]
        =# select(:search_type, :aa, {"simple"=>"simple", "concordance"=>"concordance"})
      .input-append.search-form.row-fluid
        .hidden= label_tag 'Concordance search term'
        = search_field_tag :search_for, value = params[:search_for], :class => "span11", :placeholder => "Search list..."
        %button#item-list-search.btn.search-btn{:name => "commit", :type => "submit", :value => ""}
          %span.icon-search
= render "shared/modal_waiting_panel"
