:javascript
  function changeFormAction(value) {
    if ("concordance" == value) {
      jQuery("#concordance_search_form").show();
      jQuery("#frequency_search_form").hide();
      $('#search_type2').val("concordance");
      $('#concordance_search_for').val($('#frequency_search_for').val())
    } else {
      jQuery("#concordance_search_form").hide();
      jQuery("#frequency_search_form").show();
      $('#search_type').val("frequency");
      $('#frequency_search_for').val($('#concordance_search_for').val())
    }
  }

%div
  = form_tag({:action => 'frequency_search', :id => params[:id]}, :method=>"GET", :id=>"frequency_search_form" , :onSubmit => "showProgressAnimation();") do
    = field_set_tag do
      = hidden_field_tag :itemListId, :value => params[:id]
      .input-prepend.input-append.search-form
        .hidden= label_tag 'search type'
        = select_tag :search_type, options_for_select([["Concordance", "concordance"], ["Frequency", "frequency"]], 1), :onChange=>"changeFormAction(this.value)", :class => "span3"
        .hidden= label_tag 'Facet'
        -facetsConfig = YAML.load_file(Rails.root.join("config", "facets.yml"))
        = select_tag :facet, options_for_select(facetsConfig[:facets].collect{ |aFacetConfig| [aFacetConfig[:label], aFacetConfig[:name]] }, params[:facet])
        .hidden= label_tag 'search for'
        = search_field_tag :search_for, value = params[:search_for], :id=>"frequency_search_for", :class => "span5", :placeholder => "Search list..."
        %button#item-list-search.btn.search-btn{:name => "commit", :type => "submit", :value => ""}
          %span.icon-search

  = form_tag({:action => 'concordance_search', :id => params[:id]}, :method=>"GET", :id=>"concordance_search_form" , :onSubmit => "showProgressAnimation();") do
    = field_set_tag do
      = hidden_field_tag :itemListId, :value => params[:id]
      .input-append.search-form.row-fluid
        .hidden= label_tag 'Search type'
        = select_tag :search_type2, options_for_select([["Concordance", "concordance"], ["Frequency", "frequency"]], 0), :onChange=>"changeFormAction(this.value)", :class => "span3"
        .hidden= label_tag 'Concordance search for'
        = search_field_tag :search_for, value = params[:search_for], :id=>"Concordance_search_for", :class => "span8", :placeholder => "Search term..."
        %button#execute_concordance_search.btn.search-btn{:name => "commit", :type => "submit", :value => ""}
          %span.icon-search

:javascript
  changeFormAction("#{(params[:search_type].nil?)?params[:search_type2]:params[:search_type]}");
= render 'shared/modal_waiting_panel'
