= render 'display_item_lists'
.span9
  - if (!@highlighting.nil? and !@highlighting.empty?)
    %h2
      ="Found #{pluralize(@matchingDocs, 'matching document')}"
  - if (!params[:id].nil?)
    = render 'search_form'
  - if (!@highlighting.nil? and !@highlighting.empty?)
    .document
      - @highlighting.each do |key, value|
        %h3
          %span
            =link_to value[:title], solr_document_path(key)
            %small= "Found " + pluralize(value[:matches].size, 'match')
        %table.table.table-condensed.concordanceTable
          - value[:matches].each do |m|
            %tr
              %td.leftColumn.span6
                = m[:textBefore].html_safe
              %td.centerColumn.span1
                = m[:textHighlighted].html_safe
              %td.rightColumn.span5
                = m[:textAfter].html_safe
  - else
    .alert.alert-info No document matches with your search
= render 'shared/nectar_attribution'
= render 'shared/profiler'