= render 'display_item_lists'
.span9
  - if (!params[:id].nil?)
    = render 'search_form'
  - if (!@highlighting.nil? and !@highlighting.empty?)
    .itemsFound
      ="Found #{@document_list.size} matching documents"
    .highlightings
      - @highlighting.each do |key, value|
        %div
          %div{:class=>"documentTitle"}
            =link_to value[:title], solr_document_path(key)
            = "(Found " + pluralize(value[:matches].size, 'match') + ")"
          %table{:class=> 'concordanceTable'}
            - value[:matches].each do |m|
              %tr
                %td{:class=>'leftColumn'}
                  = m[:textBefore].html_safe
                %td{:class=>'centerColumn'}
                  = m[:textHighlighted].html_safe
                %td{:class=>'rightColumn'}
                  = m[:textAfter].html_safe
  - else
    .alert.alert-info No documents matches with your search
= render 'shared/nectar_attribution'