= render 'display_item_lists'
.span9
  #flash-container
  - if (!params[:id].nil?)
    = render 'search_form'
  - else
    %h2 Select an Item List for further processing
    %span You can construct your own Item List from the Discover interface or modify one of the Item Lists on the left.
  = render 'display_items_table'
= render 'shared/nectar_attribution'
= render 'shared/modal_waiting_panel'
= render 'shared/profiler'
