= render 'display_item_lists'
.span9
  - if (!params[:id].nil?)
    = render 'search_form'
  = render 'display_items_table'
= render 'shared/nectar_attribution'
= render 'shared/modal_waiting_panel'
= render 'shared/profiler'
