#content
  #sortAndPerPage.clearfix
    %a.btn.pull-left{:href => new_licence_path} Create New Licence

  = form_tag({:controller => "collection_lists", :action => "add_licence_to_collection"}, :id => "add_licence_form") do
    = hidden_field_tag :collection_id
    = hidden_field_tag :licence_id

  #collections
    %table#blacklight_results.table.table-condensed
      %thead
        %tr
          %th.name Collection List
          %th.owner Owner
          %th.licence Licence
          %th.status Licence Terms
      %tbody
        %tr
        - @collection_lists.each_with_index do |coll_list, index|
          %tr
            %td.name
              =link_to coll_list.name.first, collection_list_path(coll_list)

            %td.owner= coll_list.ownerEmail.first
            %td.licence
              .css-dropdown
                %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                  - if coll_list.licence.present?
                    = coll_list.licence.name.first
                  - else
                    Add Licence
                  %span.caret
                %ul.dropdown-menu
                  - @licences.each do |lic|
                    %li
                      %a{:href => "#add_licence", :onClick => "add_licence('#{coll_list.id}', '#{lic.id}');"}= lic.name.first
                  %li
                    = link_to("Create New", {:controller => "licences", :action => "new", :collection => coll_list.id}, :collection => coll_list.id)
            %td
              - if coll_list.licence.present?
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_terms#{index}", :role => "button"} View Licence Terms
          - if coll_list.licence.present?
            .modal.hide.fade{:id => "licence_terms#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h3#myModalLabel= coll_list.licence.name.first
              #licence_terms_dialog.modal-body{:title => "Licence Terms"}
                %pre
                  %textarea#licence_terms_content{:readonly => "true"}= strip_tags(coll_list.licence.text.first).gsub('&nbsp;', '')
              .modal-footer
                %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close

:javascript

  function add_licence(collection_id, licence_id) {
    $("#collection_id").val(collection_id);
    $("#licence_id").val(licence_id);
    $("#add_licence_form").submit();
  };