#content
  -# #sortAndPerPage.clearfix
  -#   %a.btn.pull-left{:href => new_licence_path} Create New Licence

  #collections
    - if (@collection_lists.empty?)
      %div
        There are no Collection Lists created.
    - else
      %table#collection_lists.table.table-condensed
        %thead
          %tr
            %th.name Collection List
            %th.owner Owner
            %th.licence Licence
            %th.status Licence Terms
            %th.actions
        %tbody
          - @collection_lists.each_with_index do |coll_list, index|
            %tr
              %td.name
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#collection_list#{index}", :role => "button"}=coll_list.flat_name
                .modal.hide.fade.in{:id => "collection_list#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#myModalLabel= coll_list.flat_name
                  #collection_list_detail_dialog.modal-body{:title => "Licence Terms"}
                    #collection_list_detail_content{:readonly => "true"}
                      %table
                        - coll_list.collections.each do |aCollection|
                          %tr
                            %td
                              =aCollection.flat_short_name
                  .modal-footer
                    %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close

              %td.owner= coll_list.flat_ownerEmail
              %td.licence
                .css-dropdown
                  %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                    - if coll_list.licence.present?
                      = coll_list.licence.flat_name
                    - else
                      Add Licence
                    %span.caret
                  %ul.dropdown-menu
                    - @licences.each do |lic|
                      %li
                        %a{:href => "#add_licence_to_collection_list", :onClick => "add_licence_to_collection_list('#{coll_list.id}', '#{lic.id}');"}= lic.flat_name
                    %li.divider
                    %li
                      = link_to("Create New", {:controller => "licences", :action => "new", :collectionList => coll_list.id}, :collectionList => coll_list.id, :onClick => "showProgressAnimation();")
              %td.terms
                - if coll_list.licence.present?
                  %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_terms_collection_list#{index}", :role => "button"} View Licence Terms
                  .modal.hide.fade.in{:id => "licence_terms_collection_list#{index}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h3#myModalLabel= coll_list.licence.flat_name
                    #licence_terms_dialog.modal-body{:title => "Licence Terms"}
                      #licence_terms_content{:readonly => "true"}= coll_list.licence.flat_text.html_safe
                    .modal-footer
                      %a.btn.btn-primary{"aria-hidden" => "true()", "data-dismiss" => "modal"} Close
              %td.actions
                =link_to(coll_list, :method => :delete, :onClick => 'return (confirmDelete(\'Are you sure you want to remove the Collections List "'+ coll_list.flat_name + '"?\', event));', :id => "delete_collections_list_#{coll_list.id}") do
                  %i.icon-trash

= form_tag({:controller => "collection_lists", :action => "add_licence_to_collection_list"}, :id => "add_licence_to_collection_list_form", :onSubmit => "showProgressAnimation();") do
  = hidden_field_tag :id, nil,  {id: "id_for_add_licence_to_collection_list"}
  = hidden_field_tag :licence_id, nil, {id: "licence_id_add_licence_to_collection_list"}

:javascript

  function add_licence_to_collection_list(collection_id, licence_id) {
    $("#id_for_add_licence_to_collection_list").val(collection_id);
    $("#licence_id_add_licence_to_collection_list").val(licence_id);
    $("#add_licence_to_collection_list_form").submit();
  };

  function confirmDelete(text, event) {
    if (confirm(text)) {
      showProgressAnimation();
      return true;
    }
    event.preventDefault();
    event.stopPropagation();

    return false;
  }
