= tinymce_assets
- if !@CollectionList.nil?
  .span9
    %div
      This licence will be applied to the following collection list:
    %table{class:"table table-striped"}
      %tr
        %td ID
        %td Name
      %tr
        %td=@CollectionList.id
        %td=@CollectionList.name.first
.span9
  = form_tag({:action => 'create'}, :method=>"POST") do
    = field_set_tag do
      .input-prepend.input-append.search-form
        = label_tag 'name', "Licence name"
        = text_field_tag 'name'
        = label_tag 'text', "Licence text"
        = text_area_tag 'text', nil, rows: 10, cols: 25, class: "tinymce"
        %button{:name => "commit", :type => "submit"}
          Apply

= render 'shared/nectar_attribution'
= tinymce

