<% # header bar for doc items in index view   -%>
<tr class="documentHeadersdf clearfixsdf">

  <% # main title container for doc partial view   -%>
  <% if (extraRenderParams[:showCheckbox].nil? || extraRenderParams[:showCheckbox] == true) %>
    <td class="checkbox_field">
      <input type="checkbox" class="toggle_item_list" name="<%= document.id %>"/>
    </td>
  <% end %>
  <%# <td class="count_field"> %>
  <%# 	<%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %1> %>
  <%# </td> %>
  <td class="main_link_field">
    <%= link_literal_to_document document, main_link_label(document), {:counter => (document_counter + 1 + @response.params[:start].to_i), :itemViewList => extraRenderParams[:itemViewList]}
    %>
  </td>
  <td class="title_link_field">
    <%= field = MetadataHelper::short_form(MetadataHelper::TITLE) + "_tesim"
        if document.has_key?(field)
          format_value(document[field])
          #link_to_document document, :label=>field.to_sym, :counter => (document_counter + 1 + @response.params[:start].to_i)
        else
          ""
        end
    %>
  </td>
  <td class="created_link_field">
    <%= field = MetadataHelper::short_form(MetadataHelper::CREATED) + "_tesim"
        if document.has_key?(field)
          format_value(document[field])
          #link_to_document document, :label=>field.to_sym, :counter => (document_counter + 1 + @response.params[:start].to_i)
        else
          ""
        end
    %>
  </td>
  <td class="type_link_field">
    <%= field = MetadataHelper::short_form(MetadataHelper::TYPE)
        if document.has_key?(field)
          format_duplicates(document[field])
          #link_literal_to_document document, format_duplicates(document[field]), :counter => (document_counter + 1 + @response.params[:start].to_i)
        else
          ""
        end
    %>
  </td>
</tr>
      
