<%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
  <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :metadata]).html_safe %>

  <ul class="clearfix" id="searchbar">
    <% unless search_fields.empty? %>
      <div class="pull-left">
        <label for="search_field" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>
        <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class => "search_field input-small") %>
        <span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
      </div>
    <% end %>
    <div class="input-append pull-left">
      <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q" %>
      <button type="submit" class="btn search-btn" id="search">
        <i class="icon-search"></i>
      </button>

    </div>
  </ul>
  <ul class="clearfix" style="padding: 0px 0px 1px;">
    <% if (!params[:metadata].nil? and !params[:metadata].empty?)%>
      <% classVar="twiddle-open" %>
    <% end %>
    <li>
      <div class="facet_limit">
        <h5 class="twiddle">
          Search Metadata
          <i class="icon-chevron"></i>
        </h5>
        <ul>
          <li>
            <div class="input-append metadata-input-container">
              <label for="metadata" class="hide-text"><%= t('blacklight.search.form.all_metadata') %></label>
              <%= text_field_tag :metadata, params[:metadata], :placeholder => t('blacklight.search.form.all_metadata'), :class => "search_q q metadata-input", :id => "metadata" %>
              <button type="submit" class="btn search-btn" id="search_metadata">
                <i class="icon-search"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
<% end %>
