<%# default partial to display solr document fields in catalog show view -%>
<h3>Item Details</h3>
<dl class="dl-horizontal  dl-invert">
    <% document_show_fields(document).each do |solr_fname, field| -%>
      <% if should_render_show_field? document, field %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
        <% if solr_fname == 'http://www.language-archives.org/OLAC/1.1/language_tesim' %>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= raw render_language_codes document[solr_fname] %></dd>
        <% else %>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
        <% end -%>
      <% end -%>
    <% end -%>
    <% do_not_display = {'id' => nil, 'timestamp' => nil} %>
    <% do_not_display.merge!(document_show_fields(document)) %>
    <% document.keys.each do |k| -%>
      <% v = document[k] %>
      <% unless do_not_display.has_key?(k) %>
        <dt class="blacklight"><%= format_key(k) %></dt>
        <dd class="blacklight"><%= format_value(v) %></dd>
      <% end %>
    <% end -%>
  <dt class="blacklight-fedora-id">HCSvLab ID:</dt>
  <dd class="blacklight-fedora-id"><%= document.id %></dd>
</dl>

<h3>Documents</h3>
<% uris = [PURL::IDENTIFIER, PURL::TYPE, PURL::EXTENT, PURL::SOURCE] %>
<% documents = item_documents(document, uris) %>
<% if documents.empty? %>
    <em>This Item has no documents</em>
<% else %>
    <% if document[PURL::IS_PART_OF.to_s + "_tesim"][0] == "cooee" %>
        <table class="document-table" border="1">
            <tr>
                <th>Filename</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
            <% type = nil %>
            <% if document.has_key?(PURL::TYPE.to_s + "_tesim") %>
            <% document[PURL::TYPE.to_s + "_tesim"].each { |t| type = t unless t == "Original" or t == "Raw" } %>
            <% end %>
            <% if type.nil? %>
            <%   format = '%s' %>
            <% else %>
            <%   format = type + '(%s)' %>
            <% end %>
            <%  %>
            <%  %>
            <% documents.each do |values| -%>
            <tr>
                <% if values.has_key?(PURL::SOURCE) %>
                    <td><a href="<%= values[PURL::SOURCE] %>"><%= values[PURL::IDENTIFIER] %></a></td>
                <% else %>
                    <td><%= values[PURL::IDENTIFIER] %></td>
                <% end %>
                <% if values.has_key?(PURL::TYPE) %>
                <%   field = values[PURL::TYPE] %>
                <%   field = "unlabelled" if field == "" %>
                <%   field = "Plain"   if field == type %>
                <% else %>
                <%   field = "unlabelled" %>
                <% end %>
                <td><%= sprintf(format, field) %></td>
                <td><%= format_extent(values[PURL::EXTENT].to_i, 'B') %></td>
            </tr>
          <% end -%>
        </table>
    <% else %>
        <table class="document-table table table-striped">
          <thead>
            <tr>
                <th>Filename</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <% documents.each do |values| -%>
            <tr>
                <% if values.has_key?(PURL::SOURCE) %>
                    <td><a href="<%= values[PURL::SOURCE] %>"><%= values[PURL::IDENTIFIER] %></a></td>
                <% else %>
                    <td><%= values[PURL::IDENTIFIER] %></td>
                <% end %>
                <% if values.has_key?(PURL::TYPE) %>
                <%   field = values[PURL::TYPE] %>
                <%   field = "unlabelled" if field == "" %>
                <% else %>
                <%   field = "unlabelled" %>
                <% end %>
                <td><%= field %></td>
                <td><%= format_extent(values[PURL::EXTENT].to_i, 'B') %></td>
            </tr>
          <% end -%>
          </tbody>
        </table>
    <% end %>
<% end %>


