<div id="sortAndPerPage" class="clearfix">

  <div class="css-dropdown pull-left">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add Selected to list <span class="caret"></span></a>
    <ul id="create_list_drop_down" class="dropdown-menu">
      <% current_user.item_lists.each {|aItemList|  %>
        <li><a href="#add_to_existing_item_list" id="<%=aItemList.id%>"> <%= aItemList.name %> </a></li>
      <%}%>
      <li><a id="create_item_list" class="testclass" href="#new-item-list" role="button" data-toggle="modal">Create New List</a></li>
    </ul>
  </div>

  <div class="css-dropdown pull-left">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add All to list <span class="caret"></span></a>
    <ul id="create_list_all_drop_down" class="dropdown-menu">
      <% current_user.item_lists.each {|aItemList|  %>
        <li><a href="#add_all_to_existing_item_list" id="<%=aItemList.id%>"> <%= aItemList.name %> </a></li>
      <%}%>
      <li><a id="create_all_item_list" href="#new-item-list" role="button" data-toggle="modal">Create new...</a></li>
    </ul>
  </div>

  <div class="page_links">
    <%= render :partial => "catalog/paginate_compact" %>
  </div>
  <%= render :partial => 'catalog/sort_widget' %>

  <%= render :partial => 'catalog/per_page_widget' %>

</div>


<div id="new-item-list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for(ItemList.new)  do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Create New Item List</h3>
    </div>
    <div id="new_item_list_dialog" class="modal-body" title="New Item List">
      <p>
        <div id="item_list_error" class="create_item_list_error"> </div>
        <br/>

        <%= f.label :name %>
        <%= f.text_field :name%>

        <%= hidden_field_tag :sel_document_ids %>
        <%= hidden_field_tag :all_items %>
        <%= hidden_field_tag "query_all_params", @response[:responseHeader][:params].inspect %>
      </p>
    </div>

    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true()">Close</a>
      <%= f.submit "Create List", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
<%= render :partial=>"shared/modal_waiting_panel" %>


<%= form_tag({:controller => "item_lists", :action => "add_items"}, :id => "add_to_item_list", :onSubmit => "showProgressAnimation();")  do %>
  <%= hidden_field_tag :document_ids %>
  <%= hidden_field_tag :id, "", {id: "item_list_id"} %>
  <%= hidden_field_tag :add_all_items %>
  <%= hidden_field_tag "query_params", @response[:responseHeader][:params].inspect %>
<% end %>


<script type="text/javascript">
  jQuery("#new_item_list").submit( function() {
      var new_name = jQuery("#item_list_name").val().trim()
      if(new_name == "") {
        jQuery("#item_list_error").text("Name can't be blank");
        return false;
      }
      var error = false;
      jQuery('a[href$="add_to_existing_item_list"]').each(function() {
        if(this.text.trim() == new_name) {
          jQuery("#item_list_error").text("Item list name already exists");
          error = true;
        }
      });
      if(error)
        return false;
      jQuery("#new-item-list").hide();
      showProgressAnimation();
      });

  function generateDocumentIds(field) {
    checks = document.getElementsByClassName('toggle_item_list');
    for (var i=0, n=checks.length; i<n; i++) {
      if (checks[i].checked) {
        var existing = jQuery(field).val();
        if (existing == "") {
          jQuery(field).val(checks[i].name);
        }
        else {
          jQuery(field).val(existing + "," + checks[i].name);
        }
      }
    }
  };

  function clearData() {
    jQuery("#item_list_error").text("");
    jQuery("#item_list_name").val("");
  };


  jQuery("#create_item_list").click( function() {
  	clearData();
    generateDocumentIds("#sel_document_ids");
    jQuery("#all_items").val("false");
  });

  jQuery("#create_all_item_list").click( function() {
  	clearData();
    jQuery("#all_items").val("true");
  });

  jQuery("A[href='#add_to_existing_item_list']").click( function() {
      generateDocumentIds("#document_ids");
      itemListId=$(this).attr('id');
      jQuery("#item_list_id").val(itemListId);
      jQuery("#add_all_items").val("false");
      jQuery("#add_to_item_list").submit();
      });

  jQuery("A[href='#add_all_to_existing_item_list']").click( function() {
      itemListId=$(this).attr('id');
      jQuery("#item_list_id").val(itemListId);
      jQuery("#add_all_items").val("true");
      jQuery("#add_to_item_list").submit();
      });
  //Set focus to the first element in the form of the modal panel
  jQuery('#new-item-list').on('shown', function () {
    jQuery('input:text:visible:first', this).focus();
  })

</script>
