.form-card
  = render 'shared/login_tabs'
  .content
    %h2 Please enter your email and password to log in
    - if @aaf_credentials[:mail].present?
      .container
        %medium
          .div{style:'padding: 0 20px; width: 660px;'}
            .info.alert-info
              %b Note: Your AAF credentials (#{@aaf_credentials[:mail]}) have been received.
              %br
              %b You will receive an email once your request for an account with #{PROJECT_NAME} is approved.
    = f.input :email, :required => false
    = f.input :password, :required => false
    .form-actions
      = f.submit "Log in", :class => "btn btn-primary"
