.form-card
  = render 'shared/login_tabs'
  .content
    .container
      - if @aaf_credentials[:mail].present?
        .control-group
          .controls
            %medium
              .div{style:'width: 660px;'}
                .info.alert-info
                  %b Note: Your AAF credentials (#{@aaf_credentials[:mail]}) have been received.
                  %br
                  %b You will receive an email once your request for an account with #{PROJECT_NAME} is approved.
            = link_to "← Sign out", destroy_user_session_path, :class => "btn btn-lg aaf"
      - else
        .control-group
          .controls
            %medium
              %p This will take you to the AAF (Australian Access Federation) login page.
              %p With AAF you can login using your university or research institution account.
              %br
              %p If you are not yet authorised to use #{PROJECT_NAME} you will need to wait for your account request to be approved.
        .control-group
          .controls
            = link_to "Log in via AAF →", aaf_new_user_session_path, :class => "btn btn-lg aaf"

= render 'shared/nectar_attribution'
