= render 'user_registers/account_menu'
.span9
  %h2 Report An Issue
  = simple_form_for(@issue_report) do |f|
    = render "shared/error_messages", :target => @issue_report
    .inputs
      = f.input :description, as: :text, :cols => 10, :rows=> 10, :required => true
      = f.input :url, :readonly => true
      Your email will be submitted with this report, along with the software version you are using.
    .form-actions
      = f.submit "Send Feedback", :class => "btn btn-primary", :id => "submit-button"
      = link_to 'Cancel', root_path, :class => "btn"
= render 'shared/nectar_attribution'